
.breadcrumb li {
    display: inline;
}

.breadcrumb a:visited {
    color: black;
}

.breadcrumb a {
    text-decoration: none;
    color:black;
}

.breadcrumb li+li::before {
    content: " > ";
}

li.attribute a {
    color:green;
}